@model Nhap.Models.ViewModel.dangky
@{
    ViewData["Title"] = "Dangnhap";
    Layout = "~/Views/Shared/_layout_dangnhap.cshtml";
}

<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5" style="padding-bottom: 6rem!important;">
              <div class="text-center">
                <h1 class="text-info">Đăng nhập</h1>
            </div>
            <div class="text-center">
                <a class="text-light btn btn-primary font-weight-bold" asp-action="Dangky" asp-controller="Account" style="position: absolute;
    left: 888px;
    top: 270px;">Đăng ký</a>
            </div>
            <h6 class="text-success text-center">@TempData["successMessage"]</h6>
            <form method="post" asp-action="Login">
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input type="text" asp-for="UserName" placeholder="Enter username" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" placeholder="Enter password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Đăng nhập" style="position: absolute;
    top: 270px;" asp-action="" asp-controller="home" />
                </div>
            </form>
            <div class="text">
                <a class="text-primary" asp-action="ForgotPassword">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
</div>